body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
    background: dimgray;
}
.panel {
    width:        25%;
    height:       100%;
    border-right: 1px solid lightslategrey;
    background:   lightslategrey;
}

.authorization-form {

}

.authorization-form input {
    width:                 75%;
    height:                30px;
    padding-left:          15px;
    margin-top:            10px;
    margin-left:           15px;
    -webkit-border-radius: 5px;
    -moz-border-radius:    5px;
    border-radius:         5px;
}

.authorization-form-submit-button {
    width:         100px;
    height:        25px;
    background:    darkgrey;
    margin-top:    10px;
    margin-left:   15px;
    border-radius: 4px;
    border:        black solid 1px;
    text-align:    center;
    line-height:   20pt;
}